@import './variables.sass'

.form
    &_input
        margin-top: 20px
        padding: 10px
        width: 250px
        height: 40px
        color:  $grey
        border: solid $grey
        border-radius: 15px
        &:active, &:hover, &:focus
            outline: none 
    &_button
        cursor: pointer
        margin-top: 20px
        border: none
        border-radius: 15px
        width: 200px
        height: 40px
        background-color: $btn_main
        color: white
        &:hover
            border: none
            background-color: $btn_hover
    &_checkbox
        margin: 15px 0px 0px 7px
        position: relative
        input
            bottom: 2px
            left: 70px
            position: absolute
            height: 15px
            width: 15px
            
        label
            color: $grey
    h1
        color: $grey
        margin-bottom: 20px
    &_block
        position: relative
        label
            color: $grey
            position: absolute
            height: 18px
            top: 10px
            left: 10px
            background-color: $white

   